<h1><%= t '.title' %> </h1>

<% @publications.each do |publication| %>
  <article class="publication">
    <h2><%= link_to publication.title, publication %> </h2>
    <span class="created">
      <%= t 'Dono',
      owner: publication.user.name,
      when: l(publication.created_at, format: :short) %>
    </span>
    <p>
      <span class="location">
        <%= link_to publication.local,
        "https://maps.google.com/?q=#{publication.local}",
        target: :blank %>
      </span>
    </p>
    <p><%= publication.description %> </p>
    <% if belongs_to_user(publication) %>
      <ul>
        <li><%= link_to t('.edit'), edit_publication_path(publication) %> </li>
        <li><%= link_to t('.destroy'), publication_path(publication),
          method: :delete, data:
          {confirm: t('dialogs.destroy')}
        %> </li>
      </ul>
    <% end %>
  </article>
<% end %>
