<p id="notice"><%= notice %></p>

<h1>Listing Pulications</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Nature</th>
      <th>Reach</th>
      <th>Authors</th>
      <th>Organizer</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pulication.each do |pulication| %>
      <tr>
        <td><%= pulication.public_type %></td>
        <td><%= pulication.nature %></td>
        <td><%= pulication.reach %></td>
        <td><%= pulication.authors %></td>
        <td><%= pulication.organizer %></td>
        <td><%= pulication.vehicle %></td>
        <td><%= link_to 'Show', pulication %></td>
        <td><%= link_to 'Edit', edit_pulication_path(pulication) %></td>
        <td><%= link_to 'Destroy', pulication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pulication', new_pulication_path %>
