<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @pulication.type %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @pulication.nature %>
</p>

<p>
  <strong>Reach:</strong>
  <%= @pulication.reach %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @pulication.authors %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @pulication.organizer %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @pulication.vehicle %>
</p>

<%= link_to 'Edit', edit_pulication_path(@pulication) %> |
<%= link_to 'Back', pulications_path %>
